spring:
  application:
    name: backend
  datasource:
    url: jdbc:postgresql://localhost:5432/vue_kotlin_template
    username: yna
    password:
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  flyway:
    enabled: true
    baseline-on-migrate: true
